body{
    background-repeat:no-repeat;
    background: url(Images/points-interrogation-noirs-gras-cartes-papier_124595-3.jpg) ;
    background-size:cover;
}
#output{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#output_image{
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 50%;
   
}