body{
    background-repeat:no-repeat;
    background: url(Images/points-interrogation-noirs-gras-cartes-papier_124595-3.jpg) ;
    background-size:cover;
}
.contenu{
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
}
.contenu .text h1{
    margin-top: -50px;
}
.logo{
    position: absolute;
    width: 150px;
    height: 250px;
    left: -180px;
    top: -50px;
    background-repeat:no-repeat;
    background: url(Images/logo-QuizzSA.png);
    background-size:cover;
}
.p2 input{
    height:40px;
    width: 135px;
    margin-left: 5%;
    margin-right: 5%;
    background-color:gray;
}
.p1 .input1 {
    height:40px;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1px;
   background-color:  rgba(185, 183, 183, 0.856);
    background: white url(./Images/Icônes/ic-login.png) right no-repeat;
   }
.p1 .input2 {
    height:40px;
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1px;
   background-color:  rgba(185, 183, 183, 0.856);
    background: white url(./Images/Icônes/ic-password.png) right no-repeat;
}
.p2 a{
    float: right;
    color: black;
    text-decoration: none;
}